
<section class="section d-block d-lg-flex d-md-flex">
    <div class="text col-10 col-lg-7 col-md-6 m-auto pt-5">
        <h3 class="col-lg-9 col-md-9">Contacter nous</h3>
        <div class="d-flex d-lg-block d-md-block">
            <p class="col-lg-9 col-md-12 pt-4">
                Vous avez une question, une suggestion ou besoin d’assistance ?
                N’hésitez pas à nous contacter, notre équipe se fera un plaisir de vous répondre dans les plus brefs délais.
                📍 Adresse : 123 Rue Exemple, 75000 Paris
                📞 Téléphone : +33 1 23 45 67 89
                📧 Email : contact@votreentreprise.com
            </p>
        </div>
    </div>
    <form class="col-10 col-lg-4 col-md-5 p-4 shadow m-auto">
        <fieldset>
            <legend>Contact</legend>
            <div class="d-flex">
                <div class="mb-3 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom">
                </div>
                <div class="mb-3 mx-2 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prenom">
                </div>
            </div>

            <div class="d-flex">
                <div class="mb-3 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Telephone</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="telephone">
                </div>
    
                <div class="mb-3 col-6 mx-2">
                    <label for="exampleFormControlInput1" class="form-label">Addresse Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

    <!-- <div class="carte col-3 bg-primary shadow">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127323.56963795114!2d15.144820571968385!3d-4.24719072368074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a32ac441bb83b%3A0xab3deababe7de443!2sBrazzaville!5e0!3m2!1sfr!2scg!4v1745854636495!5m2!1sfr!2scg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> -->
</section>