<section class="section5" id="contact" style="background-color: red;">
        <div class="pt-5 contacte">
        </div>
        <div class="container d-lg-flex d-md-flex">
            <div class="div2 col-lg-6 col-md-6 col-12 px-5">
                <h1>Contacter nous</h1>
                <p>Vous avez une question, une suggestion ou besoin d’assistance ? N’hésitez pas à nous contacter, notre équipe se fera un plaisir de vous répondre dans les plus brefs délais.

📍 Adresse : Rond-Point Moungali, Brazzaville, Congo
📞 Téléphone : +242 05 705 86 91
📧 Email : yabisoSoft@gmail.com</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <form class="col-12 p-4 shadow m-auto mt-lg-auto mt-md-auto mt-4">
                    <fieldset>
                        <div class="d-flex">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom">
                            </div>
                            <div class="mb-3 mx-2 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Prénom">
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Téléphone</label>
                                <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Téléphone">
                            </div>
                
                            <div class="mb-3 col-6 mx-2">
                                <label for="exampleFormControlInput1" class="form-label">Addresse Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tonadresse@example.com">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-success">Envoyé</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>