    <section class="section4">
        <div class="container">
            <div class="pt-5">
                <h1>Témoignages</h1>
            </div>
            <div class="mt-5">
                <div class="row m-auto hov">
                    <div class="divCardParent col-sm-6 col-lg-4 mb-3 mb-sm-0 p-2">
                        <div class="card p-5 m-auto" style="width: 18rem;">
                            <p> Airte Money a rendu le paiement des frais de scolarité de mes enfants beaucoup plus facile ! Le processus est rapide et je n’ai plus à me soucier de manquer des délais. </p>
                            <img src="../../assets/images/h1.jpg" class="card-img-top" alt="..." style="height: 200px;">
                            <p class="mt-4">Jane Smith</p>
                            <p>Mère de deux enfants qui travaille</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card p-5 m-auto" style="width: 18rem;">
                            <p> Airte Money a rendu le paiement des frais de scolarité de mes enfants beaucoup plus facile ! Le processus est rapide et je n’ai plus à me soucier de manquer des délais. </p>
                            <img src="../../assets/images/h2.jpg" class="card-img-top" alt="..." style="height: 200px;">
                            <p class="mt-4">Jane Smith</p>
                            <p>Mère de deux enfants qui travaille</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card p-5 m-auto" style="width: 18rem;">
                            <p> Airte Money a rendu le paiement des frais de scolarité de mes enfants beaucoup plus facile ! Le processus est rapide et je n’ai plus à me soucier de manquer des délais. </p>
                            <img src="../../assets/images/h3.jpg" class="card-img-top" alt="..." style="height: 200px;">
                            <p class="mt-4">Jane Smith</p>
                            <p>Mère de deux enfants qui travaille</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>