<section class="bg-white p-4 rounded-4 shadow" *ngIf="!loading" style="background-color: red;">
  <div class="w-100 w-md-75 w-lg-75 mx-auto">
    <div class="row g-4">
      <!-- Matricule -->
      <div class="col-12 col-md-6">
        <label class="form-label text-dark fw-semibold">Matricule</label>
        <input type="text" class="form-control border-0 text-dark" style="background-color: #f1f1f1;" [(ngModel)]="Metricule" disabled>
      </div>

      <!-- Classe -->
      <div class="col-12 col-md-6">
        <label class="form-label text-dark fw-semibold">Classe</label>
        <input type="text" class="form-control border-0 text-dark" style="background-color: #f1f1f1;" [(ngModel)]="Classe" disabled>
      </div>

      <!-- Nom -->
      <div class="col-12 col-md-6">
        <label class="form-label text-dark fw-semibold">Nom</label>
        <input type="text" class="form-control border-0 text-dark" style="background-color: #f1f1f1;" [(ngModel)]="Nom" disabled>
      </div>

      <!-- Prénom -->
      <div class="col-12 col-md-6">
        <label class="form-label text-dark fw-semibold">Prénom</label>
        <input type="text" class="form-control border-0 text-dark" style="background-color: #f1f1f1;" [(ngModel)]="Prenom" disabled>
      </div>
    </div>
  </div>

    <!-- chargement -->
    <div class="d-flex justify-content-center mt-5 " style="align-items: center;" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- fin chargement -->

   <div class="mt-5 w-100 p-2 mx-auto" *ngIf="!loading">
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-1 g-3 mx-auto">
    <div class="btn" *ngFor="let elem of tabDetailProduits" (click)="openDialog(elem)">
      <div class="card shadow-sm rounded-4" style="background-color: #111; color: white; font-size: 0.9rem;">
        <div class="px-3 py-2 border-bottom border-secondary" style="background-color: #000;">
          <h5 class="mb-1">Frais : {{elem.Libelle}}</h5>
          <h6 class="mb-0">Code : {{elem.CodeFrais}}</h6>
        </div>
        <div class="px-3 py-2">
          <p class="mb-1">Total à payer : <span class="text-danger fw-semibold">{{elem.Total_A_Payer}}</span></p>
          <p class="mb-1">Déjà payé : <span class="text-success fw-semibold">{{elem.Total_Deja_Paye}}</span></p>
          <p class="mb-1">Impayé : <span class="text-warning fw-semibold">{{elem.Total_Impaye}}</span></p>
          <p class="mb-0">Reste à payer : <span class="text-danger fw-bold">{{elem.Reste_A_Payer}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

</section>