// section5
.section5{
    background-color: rgba(8, 8, 15, 0.884);
    height: 100vh;
    display: flex;
    align-items: center;
}
.section5 .container .div2 h1{
    color: #fff;
}
.section5 .container .div2 p{
    color: #fff;
}