.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
// formulaie
.section form{
    border-radius: 0px 25px 25px 0px;
}

//  tableau
.section form fieldset .tableau{
    overflow-y: scroll; 
    height: 350px;
}
.section form fieldset .tableau table{
    border-collapse: collapse;
}
.section form fieldset .tableau table thead{
    position: sticky;
    top: 0;
    z-index: 1;
}
