.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
.section .divImage{
    background-image: url(../../../assets/images/5921785.jpg);
    background-size: cover;
    background-position: center;
}
// .section .divImage img{
//     height: 100%;
//     width: 100%;
// }
.section form{
    border-radius: 0px 25px 25px 0px;
}
.section .divImage{
    border-radius: 25px 0px 0px 25px;
}
.section form, .section .divImage{
    height: 400px;
}