<section class="section">
    <form class="w-75 p-4 shadow raduis" #form="ngForm" (ngSubmit)="rechercheForm(form)">
        <fieldset>
            <legend>{{nomEtablissement}}</legend>

            <label for="disabledSelect" class="form-label">Code de l'etablissement</label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">#</span>
                <input type="text" class="form-control" name="CodeEtablissement" disabled="true" ngModel [(ngModel)]="CodeEtablissement" aria-label="Username" aria-describedby="addon-wrapping">
            </div>

            <div class="d-lg-flex d-md-flex">
                <div class="col-5">
                    <label for="disabledSelect" class="form-label mt-3">Nom</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">#</span>
                        <input type="text" class="form-control" name="Nom" ngModel placeholder="Entrez le nom de l'eleve" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <label for="disabledSelect" class="form-label mt-3">Prenom</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">#</span>
                        <input type="text" class="form-control" name="Prenom" ngModel placeholder="Entrez le prenom de l'eleve" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Rechercher</button>

            <div class="tableau mt-3 hover" *ngIf="this.eleveTrouve.length > 0">
                <table class="table table-striped mt-3 table-hover">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Metricule</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prenom</th>
                          <th scope="col">DateNaissance</th>
                          <th scope="col">LieuNaissance</th>
                          <th scope="col">Classe</th>
                          <th scope="col">Etablissement</th>
                          <th scope="col">Photo</th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let eleve of eleveTrouve">
                          <th scope="row">{{eleve.IDELEVE}}</th>
                          <td>{{eleve.Metricule}}</td>
                          <td>{{eleve.Nom}}</td>
                          <td>{{eleve.Prenom}}</td>
                          <th scope="row">{{eleve.DateNaissance}}</th>
                          <td>{{eleve.LieuNaissance}}</td>
                          <td>{{eleve.Classe}}</td>
                          <td>{{eleve.Etablissement}}</td>
                          <td>{{eleve.Photo}}</td>
                          <td>
                            <button class="btn btn-primary" (click)="openDialog(eleve)">Selectionner</button>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </fieldset>
    </form>
</section>