<section class="section">
    <div class="divImage  col-0 col-lg-4 col-md-5 shadow">
        <!-- <img src="../../../assets/images/5921785.jpg" alt="" class="img-fluid"> -->
    </div>
    <form class="col-10 col-lg-4 col-md-5 p-4 shadow raduis">
        <fieldset>
            <legend>Disabled fieldset example</legend>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Ecoles</label>
                <select class="form-select" name="ecoles" [ngModel]="ecoles" aria-label="Default select example">
                    <option *ngFor="let ecole of ecoles" [value]="ecole.CodeEtab">{{ecole.NomEtab}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Classe</label>
                <select class="form-select" name="ecoles" [ngModel]="ecoles" aria-label="Default select example">
                    <option *ngFor="let ecole of ecoles" [value]="ecole.CodeEtab">{{ecole.NomEtab}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Eleves</label>
                <select class="form-select" name="ecoles" [ngModel]="ecoles" aria-label="Default select example">
                    <option *ngFor="let ecole of ecoles" [value]="ecole.CodeEtab">{{ecole.NomEtab}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Mois</label>
                <select class="form-select" name="ecoles" [ngModel]="ecoles" aria-label="Default select example">
                    <option *ngFor="let ecole of ecoles" [value]="ecole.CodeEtab">{{ecole.NomEtab}}</option>
                </select>
            </div>

            <label for="disabledSelect" class="form-label">Montant</label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Entrez le montant" aria-label="Username" aria-describedby="addon-wrapping">
            </div>

            <button type="submit" class="btn btn-primary mt-4">Valider</button>
        </fieldset>
    </form>
</section>