    <section class="section3">
        <div class="container">
            <div class="pt-5">
                <h1>Service</h1>
            </div>
            <div class="mt-5">
                <div class="row">
                    <div class="divCardParent col-sm-6 col-lg-4 mb-3 mb-sm-0 p-2">
                        <div class="card">
                        <div class="card-body">
                            <p class="profil" style="background-image: url(../../assets/images/h6.jpg);"></p>
                            <h1>Transactions sécurisées</h1>
                            <p class="card-text">Nous utilisons les dernières mesures de sécurité pour nous assurer que toutes les transactions sont sécurisées et que vos informations personnelles sont protégées.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body">
                            <p class="profil" style="background-image: url(../../assets/images/h7.jpg);"></p>
                            <h1>Assistance 24h/24 et 7j/7</h1>
                            <p class="card-text">Notre équipe d’assistance à la clientèle est disponible 24 heures sur 24 pour vous aider à résoudre tout problème ou question que vous pourriez avoir.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body">
                            <p class="profil" style="background-image: url(../../assets/images/h8.jpg);"></p>
                            <h1>Intégration facile</h1>
                            <p class="card-text">Notre plateforme s’intègre parfaitement aux systèmes de paiement existants de votre école pour rationaliser le processus de paiement des frais.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>