
    <section class="section3" id="service" style="background-color: blanchedalmond;">
        <div class="container">
            <div class="pt-5">
                <h1 style="color: black;">Nos Services</h1>
            </div>
            <div class="mt-5">
                <div class="row">
                    <div class="divCardParent col-sm-6 col-lg-4 mb-3 mb-sm-0 p-2">
                        <div class="card" >
                        <div class="card-body" style="height: 250px; ;">
                            <p class="profil" style="background-image: url(../../assets/images/ICONE1.png);"></p>
                            <h1>Paiement en ligne des frais scolaires</h1>
                            <p class="card-text">Effectuez vos paiements depuis votre téléphone ou ordinateur, en toute sécurité.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body" style="height: 250px;">
                            <p class="profil" style="background-image: url(../../assets/images/historique.png);"></p>
                            <h1>Historique des paiements</h1>
                            <p class="card-text">Suivez et téléchargez vos reçus à tout moment.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body" style="height: 250px;">
                            <p class="profil" style="background-image: url(../../assets/images/etab.png);"></p>
                            <h1>Accès multi-établissements</h1>
                            <p class="card-text">Gérez les frais de plusieurs enfants inscrits dans différents établissements depuis un seul compte.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 