section form .rond{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
}
section form div p{
    background-color: white;
    font-size: 1rem;
}