.section{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 111, 252, 0.884);
    color: #fff;
}
// formulaie
.section form{
    border-radius: 0px 25px 25px 0px;
}

//  tableau
.section form fieldset .tableau{
    overflow-y: scroll; 
    height: 50vh;
}
.section form fieldset fieldset legend{
    color: #fff;
}
.section form fieldset .tableau table{
    border-collapse: collapse;
}
.section form fieldset .tableau table thead{
    position: sticky;
    top: 0;
    z-index: 1;
}
.section form fieldset .tableau table tbody td button{
    background-color: rgb(255, 102, 0);
}

.section form fieldset .zone_repete{
    height: 100vh;
    overflow-y: scroll;
}
.section form fieldset .btnRecherche{
    background-color: rgb(255, 102, 0);
}