<section>
    <form class="raduis p-5">
        <fieldset>
            <legend class="p-5">Disabled fieldset example</legend>

            <label for="disabledSelect" class="form-label">Solde</label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping">
            </div>

            <label for="disabledSelect" class="form-labe mt-3">Montant</label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping">
            </div>

            <label for="disabledSelect" class="form-label mt-3">Mois</label>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Janvier</option>
                <option value="2">Fevrier</option>
                <option value="3">Mars</option>
                <option value="1">Avril</option>
                <option value="2">Mai</option>
                <option value="3">Jui</option>
                <option value="1">Jueill</option>
                <option value="2">Aout</option>
                <option value="3">Septembre</option>
                <option value="1">Octobre</option>
                <option value="2">Novembre</option>
                <option value="3">Decembre</option>
            </select>

            <label for="disabledSelect" class="form-label mt-3">Telephone</label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="tel" class="form-control" placeholder="+242" aria-label="Username" aria-describedby="addon-wrapping">
            </div>

            <button type="submit" class="btn btn-primary form-control mt-4" mat-button mat-dialog-close>Payer maintenant</button>
        </fieldset>
    </form>
</section>