<section class="p-5">
    <form class="p-3">
        <h2>Paiement Des Frais Scolaire De L'eleve :</h2>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Référence</label>
            <input type="texte" class="form-control" id="Montant" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Détail</label>
            <input type="texte" class="form-control" id="Montant" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Montant</label>
            <input type="number" class="form-control" id="Numéro de téléphone">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile du payeur</label>
            <input type="tel" class="form-control" id="Numéro de téléphone">
        </div>

        <button type="submit" class="btn btn-primary form-control">Valider</button>
        <button type="submit" (click)="onNoClick()" mat-button class="btn btn-danger form-control mt-2">Annuler</button>
    </form>
</section>