// main{
//     // height: 100vh;
// }
main .section1{
    height: 100vh;
    background-image: url(../../assets/images/img4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main .section1 .div_container{
    align-items: center;
    height: 100%;
}
main .section1 .div_container div{
    color: #fff;
}
main .section1 .div_container div h1{
    font-size: 2rem;
}
main .section1 .div_container div ul li{
    font-size: 1rem;
}
