
<main>
    <section class="section1 d-lg-flex d-md-flex d-block">
        <div class="parent col-lg-6 col-md-6 col-12 m-auto">
            <div class="contenu m-auto ">
                <h1>Payer l'ecole en un clic!</h1>
                <ul class="mt-5">
                    <li>zero file d'attente et reçu instantané</li>
                    <li>securisé via Airtel Money</li>
                    <li>Historique accessible 24 h/24</li>
                    <li>Faciliter le suivi des frais pour les parents</li>
                </ul>
                <button class="btn btn-success">Payé les frais scolaires</button>
            </div>
        </div>
        <div class="imageBg col-lg-6 col-md-6 col-0 d-none d-lg-bolck d-md-block">
            <p class="col-lg-6 col-md-6 col-0 m-auto"></p>
        </div>
    </section>

    <section class="section2">
        <h2 class="py-4 text-center">Qu'est ce que e-school ?</h2>
        <div class="divContent d-lg-flex d-md-flex py-4">
            <div class="col-12 col-lg-6 d-flex">
                <p class="col-5 d-none d-lg-block d-md-block"></p>
                <img src="../../assets/images/mtn momo.jpg" alt="" class="img-fluid col-lg-7 col-md-7 col-11 m-auto">
            </div>
            <div class="col-12 col-lg-6 col-md-6 px-lg-5 px-md-5 px-3 pt-lg-0 pt-md-0 pt-4">
                <h2>titre</h2>
                <p>
                    Mon objectif est d'offrir une éducation de qualité qui prépare nos étudiants à relever les défis du marché du travail, en mettant l'accent sur des formations adaptées et en offrant des opportunités professionnelles concrètes. Chaque étudiant est une promesse d'avenir, et nous voulons les accompagner dans chaque étape de leur parcours.
                    Nous croyons que l'éducation est un levier puissant pour transformer les vies et impacter positivement notre société. Grâce à des formateurs compétents, des programmes diversifiés et un environnement d'apprentissage stimulant, nous nous engageons à faire une différence tangible dans la vie de chaque étudiant.
                </p>
            </div>
        </div>

        <div class="divContent d-lg-flex d-md-flex py-4">
            <div class="col-12 col-lg-6 col-md-6 px-lg-5 px-md-5 px-3 pt-lg-0 pt-md-0 pt-4 ">
                <h2>titre</h2>
                <p>
                    Mon objectif est d'offrir une éducation de qualité qui prépare nos étudiants à relever les défis du marché du travail, en mettant l'accent sur des formations adaptées et en offrant des opportunités professionnelles concrètes. Chaque étudiant est une promesse d'avenir, et nous voulons les accompagner dans chaque étape de leur parcours.
                    Nous croyons que l'éducation est un levier puissant pour transformer les vies et impacter positivement notre société. Grâce à des formateurs compétents, des programmes diversifiés et un environnement d'apprentissage stimulant, nous nous engageons à faire une différence tangible dans la vie de chaque étudiant.
                </p>
            </div>
            <div class="col-12 col-lg-6 d-flex ">
                <img src="../../assets/images/mtn momo.jpg" alt="" class="img-fluid col-lg-7 col-md-7 col-11 m-auto">
                <p class="col-5 d-none d-lg-block d-md-block"></p>
            </div>
        </div>
    </section>

    <section class="section3 mt-4 container">
        <h2 class="py-4">Nos services</h2>

        <div class="div1 row row-cols-1 row-cols-md-3 g-4 py-4">
            <div class="col">
              <div class="card">
                <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gestion des effectifs</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gestion de la comptabilite</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gestion de la paie</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Calcul automatique des moyens</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Envoie des notes par SMS</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pointage des presences et des enseignants</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Historiques des modifications des notes</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="../../assets/images/eSchoolPay.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">WhatsApp integre</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
</main>