// main{
//     height: 100vh;
// }
main .section1{
    background-color: orange;
    height: 500px;
    justify-content: center;
    align-items: center;
}
main .section1 .parent{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
// main section div .contenu ul li{
//     // font-size: 25px;
// }
main .section1 div .contenu button{
    transition: 0.5s;
    border: none;
}
main .section1 div .contenu button:hover{
    padding: 10px;
    transition: 0.5s;
    background-color: red;
    border: none;
}
main .section1 .imageBg p{
    background-image: url(../../assets/images/eSchoolPay.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 25px;
}

// section2
main .section2 .divContent{ 
    justify-content: center;   
}

main .section2 .divContent img{
    height: 500px;
}

// section3
main .section3 h2{
    text-align: center;
}
main .section3 .div1 .col .card img{
    height: 200px;
}
