
<main>
    <section class="section1">
        <div class="div_container d-flex p-5">
            <div class="p-2 col-lg-6 col-md-4 col-12 shadow">
                <!-- <h1 class="py-4">Payer l'ecole en un clic!</h1>
                <ul>
                    <li class="mt-3">zero file d'attente et reçu instantané</li>
                    <li class="mt-3">securisé via Airtel Money</li>
                    <li class="mt-3">Historique accessible 24 h/24</li>
                    <li class="mt-3">Faciliter le suivi des frais pour les parents</li>
                </ul> -->
                <h1>Paiement sans effort des frais de scolarité</h1>
                <p>Payez vos frais de scolarité en toute simplicité avec Airte Money</p>
                <div class="py-3">
                    <button class="btn btn-primary" routerLink="/ecole">Payé les frais scolaires</button>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section2">
        <div class="divContainer col-11 col-lg-9 col-md-9 p-lg-5 p-md-5 p-3 m-auto border">
            <div class="div2 col-lg-6 col-mad-6 col-12 shadow mt-5 mt-lg-0 mt-md-0">
                <div class="border col-12 shadow p-lg-5 p-md-5 p-2">
                    <h1>Qui sommes-nous</h1>
                    <span></span>
                    <p>
                        Nous nous engageons à rendre le paiement des frais de scolarité rapide et sans
                        tracas avec Airte Money. Notre plateforme permet aux parents et aux tuteurs de gérer
                        les dépenses d’éducation en quelques clics, ce qui permet d’économiser du temps et
                        des efforts. Joignez-vous à nous pour découvrir une nouvelle ère de commodité dans 
                        la gestion des études de votre enfant, un paiement à la fois.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="pt-5">
                <h1>Service</h1>
            </div>
            <div class="mt-5">
                <div class="row">
                    <div class="divCardParent col-sm-6 col-lg-4 mb-3 mb-sm-0 p-2">
                        <div class="card">
                        <div class="card-body">
                            <p class="profil" style="background-image: url(../../assets/images/h6.jpg);"></p>
                            <h1>Transactions sécurisées</h1>
                            <p class="card-text">Nous utilisons les dernières mesures de sécurité pour nous assurer que toutes les transactions sont sécurisées et que vos informations personnelles sont protégées.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body">
                            <p class="profil" style="background-image: url(../../assets/images/h7.jpg);"></p>
                            <h1>Assistance 24h/24 et 7j/7</h1>
                            <p class="card-text">Notre équipe d’assistance à la clientèle est disponible 24 heures sur 24 pour vous aider à résoudre tout problème ou question que vous pourriez avoir.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body">
                            <p class="profil" style="background-image: url(../../assets/images/h8.jpg);"></p>
                            <h1>Intégration facile</h1>
                            <p class="card-text">Notre plateforme s’intègre parfaitement aux systèmes de paiement existants de votre école pour rationaliser le processus de paiement des frais.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="pt-5">
                <h1>Témoignages</h1>
            </div>
            <div class="mt-5">
                <div class="row m-auto hov">
                    <div class="divCardParent col-sm-6 col-lg-4 mb-3 mb-sm-0 p-2">
                        <div class="card p-5 m-auto" style="width: 18rem;">
                            <p> Airte Money a rendu le paiement des frais de scolarité de mes enfants beaucoup plus facile ! Le processus est rapide et je n’ai plus à me soucier de manquer des délais. </p>
                            <img src="../../assets/images/h1.jpg" class="card-img-top" alt="..." style="height: 200px;">
                            <p class="mt-4">Jane Smith</p>
                            <p>Mère de deux enfants qui travaille</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card p-5 m-auto" style="width: 18rem;">
                            <p> Airte Money a rendu le paiement des frais de scolarité de mes enfants beaucoup plus facile ! Le processus est rapide et je n’ai plus à me soucier de manquer des délais. </p>
                            <img src="../../assets/images/h2.jpg" class="card-img-top" alt="..." style="height: 200px;">
                            <p class="mt-4">Jane Smith</p>
                            <p>Mère de deux enfants qui travaille</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card p-5 m-auto" style="width: 18rem;">
                            <p> Airte Money a rendu le paiement des frais de scolarité de mes enfants beaucoup plus facile ! Le processus est rapide et je n’ai plus à me soucier de manquer des délais. </p>
                            <img src="../../assets/images/h3.jpg" class="card-img-top" alt="..." style="height: 200px;">
                            <p class="mt-4">Jane Smith</p>
                            <p>Mère de deux enfants qui travaille</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section5">
        <div class="pt-5 contacte">
            <h1>Contacte</h1>
        </div>
        <div class="container d-lg-flex d-md-flex">
            <div class="div2 col-lg-6 col-md-6 col-12 px-5">
                <h1>Contacter nous</h1>
                <p>Vous avez une question, une suggestion ou besoin d’assistance ? N’hésitez pas à nous contacter, notre équipe se fera un plaisir de vous répondre dans les plus brefs délais. 📍 Adresse : 123 Rue Exemple, 75000 Paris 📞 Téléphone : +33 1 23 45 67 89 📧 Email : koukodilaexauce636gmail.com</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <form class="col-12 p-4 shadow m-auto mt-lg-auto mt-md-auto mt-4">
                    <fieldset>
                        <legend>Contact</legend>
                        <div class="d-flex">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom">
                            </div>
                            <div class="mb-3 mx-2 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Prenom</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prenom">
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Telephone</label>
                                <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="telephone">
                            </div>
                
                            <div class="mb-3 col-6 mx-2">
                                <label for="exampleFormControlInput1" class="form-label">Addresse Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <section class="section6">
        <div class="col-12 py-5">
            <!-- <div class="carte col-3 bg-primary shadow">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127323.56963795114!2d15.144820571968385!3d-4.24719072368074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a32ac441bb83b%3A0xab3deababe7de443!2sBrazzaville!5e0!3m2!1sfr!2scg!4v1745854636495!5m2!1sfr!2scg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> -->
        </div>
    </section>
</main>