
<main>
    <section class="section1 p-ld-0 p-md-0">
        <div class="div_container d-lg-flex p-lg-5 p-md-5">
            <div class="p-2 col-lg-6 col-md-6 col-12" style="height: 500px;">
                <h1 class="my-5" style="color: black;">Simplifiez le Paiement des Frais de Scolarité avec Airtel</h1>
                <p class="epay-description" style="color: black;">
                    ePay est une solution pratique et moderne pour simplifier le processus de paiement des factures. En permettant aux utilisateurs de régler les frais scolaires et autres factures à distance dans le confort de leurs maisons, ePay offre une commodité inégalée, leur évitant ainsi d'avoir à se déplacer physiquement. De plus, l'accent mis sur la sécurité assure aux utilisateurs que leurs transactions sont protégées, ce qui est crucial dans le monde numérique d'aujourd'hui. Grâce à son interface conviviale accessible depuis un téléphone mobile, ePay facilite la gestion des paiements, rendant ainsi la tâche moins stressante pour les parents et les étudiants.                </p>
                <div>
  <button class="btn btn-animated" routerLink="/ecole">
    Payer les frais scolaires
  </button>
</div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5" style="height: 400px; background-image: url(../../assets/images/ChatGPT\ Image\ 29\ mai\ 2025\,\ 11_27_35.png);background-position: center;background-size: cover;background-repeat: no-repeat;border-radius: 10%">
                  
            </div>
        </div>
    </section>
    
    
    <section class="section1 p-ld-5 p-md-3" id="aPropos" style="background-color: rgb(255, 15, 15);">
  <div class="div_container d-lg-flex p-lg-1 p-md-1">
    <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5" style="height: 400px">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    
    <!-- Indicateurs -->
    <div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
</div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/papa_resized_matched.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/docteur_resized_1536x1024.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/MamanV.png" class="d-block w-100" alt="...">
      </div>
       <div class="carousel-item">
        <img src="../../assets/images/guerre.png" class="d-block w-100" alt="...">
      </div>
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

    <div class="p-2 col-lg-6 col-md-6 col-12" style="height: 500px;">
      <h2 class="my-5" style="color: rgb(255, 255, 255);"> Pourquoi adopter des moyens de paiement électroniques dans votre école ?</h2>
      <p class="epay-description" style="color: rgb(255, 255, 255);">
Les consommateurs utilisent de plus en plus les moyens de paiement électroniques pour régler leurs achats et leurs factures.
Si les moyens de paiement électroniques offrent de nombreux avantages pour les consommateurs, c’est également le cas pour les commerçants et les fournisseurs de services. Quels sont ces avantages pour votre école en adoptant ce moyen de paiement ?
      </p>
      <h1 style="color: rgb(255, 255, 255);"> Facilité des transactions</h1>
      <p class="epay-description" style="color: rgb(255, 255, 255);">Les paiements électroniques sont simples à utiliser mais aussi plus rapides. Les parents de vos élèves seront à même de payer les frais de scolarité de leurs enfants sans se déplacer et à n’importe quel moment et 24h/24h sans limite. </p>
    </div>
  </div>
</section>

  <section class="section1 " id="aPropos" style="background-color: rgb(255, 15, 15);">
  <div class="div_container d-lg-flex p-ld-5 p-md-3">
     <div class="p-2 col-lg-6 col-md-6 col-12" style="height: 500px;">
      <h1 class="my-5" style="color: rgb(255, 255, 255);"> Davantage de sécurité</h1>
      <p class="epay-description" style="color: rgb(255, 255, 255);">
     
Grâce aux paiements électroniques, les risques de vol dans la caisse de l’école diminuent. En effet, les sommes payées n’étant pas physiquement présentes dans la caisse de l’école, il y a moins d’argent dans les caisses et la tentation de commettre des délits est réduite.
Avec les paiements électroniques, la circulation des faux billets est également ralentie et il y a donc moins de risque d’être confronté à ce type d’escroquerie.
Grâce à sa puissance et son efficacité E-SCHOOL a franchi un nouveau pas avec sa nouvelle fonctionnalité de paiement des frais scolaires par Airtel Money et MTN Mobile Money
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5" style="height: 400px">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    
    <!-- Indicateurs -->
    <div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/cadena.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/caisse.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Vol.png" class="d-block w-100" alt="...">
      </div>
  
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

   
  </div>
</section>



    <section class="section3" id="service" style="background-color: white;">
        <div class="container">
            <div class="pt-5">
                <h1 style="color: black;">Nos Service</h1>
            </div>
            <div class="mt-5">
                <div class="row">
                    <div class="divCardParent col-sm-6 col-lg-4 mb-3 mb-sm-0 p-2">
                        <div class="card" >
                        <div class="card-body" style="height: 250px; ;">
                            <p class="profil" style="background-image: url(../../assets/images/ICONE1.png);"></p>
                            <h1>Paiement en ligne des frais scolaires</h1>
                            <p class="card-text">Effectuez vos paiements depuis votre téléphone ou ordinateur, en toute sécurité.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body" style="height: 250px;">
                            <p class="profil" style="background-image: url(../../assets/images/historique.png);"></p>
                            <h1>Historique des paiements</h1>
                            <p class="card-text">Suivez et téléchargez vos reçus à tout moment.</p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card">
                        <div class="card-body" style="height: 250px;">
                            <p class="profil" style="background-image: url(../../assets/images/etab.png);"></p>
                            <h1>Accès multi-établissements</h1>
                            <p class="card-text">Gérez les frais de plusieurs enfants inscrits dans différents établissements depuis un seul compte.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <br> <br> <br>



    
    <section class="section5" id="contact">
        <div class="pt-5 contacte">
            <h1>Plus d'information</h1>
        </div>
        <div class="container d-lg-flex d-md-flex">
            <div class="div2 col-lg-6 col-md-6 col-12 px-5">
                <h1>Contacter nous</h1>
                <p>Vous avez une question, une suggestion ou besoin d’assistance ? N’hésitez pas à nous contacter, notre équipe se fera un plaisir de vous répondre dans les plus brefs délais.

📍 Adresse : Rond-Point Moungali, Brazzaville, Congo
📞 Téléphone : +242 05 705 86 91
📧 Email : yabisoSoft@gmail.com</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <form class="col-12 p-4 shadow m-auto mt-lg-auto mt-md-auto mt-4">
                    <fieldset>
                        <div class="d-flex">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom">
                            </div>
                            <div class="mb-3 mx-2 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Prénom">
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Téléphone</label>
                                <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Téléphone">
                            </div>
                
                            <div class="mb-3 col-6 mx-2">
                                <label for="exampleFormControlInput1" class="form-label">Addresse Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tonadresse@example.com">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-success">Envoyé</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <section class="section6">
        <div class="col-12 py-5">
            <!-- <div class="carte col-3 bg-primary shadow">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127323.56963795114!2d15.144820571968385!3d-4.24719072368074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a32ac441bb83b%3A0xab3deababe7de443!2sBrazzaville!5e0!3m2!1sfr!2scg!4v1745854636495!5m2!1sfr!2scg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> -->
        </div>
    </section>
</main>