    <section class="section2">
        <div class="divContainer col-11 col-lg-9 col-md-9 p-lg-5 p-md-5 p-3 m-auto border">
            <div class="div2 col-lg-6 col-mad-6 col-12 shadow mt-5 mt-lg-0 mt-md-0">
                <div class="border col-12 shadow p-lg-5 p-md-5 p-2">
                    <h1>Qui sommes-nous</h1>
                    <span></span>
                    <p>
                        Nous nous engageons à rendre le paiement des frais de scolarité rapide et sans
                        tracas avec Airte Money. Notre plateforme permet aux parents et aux tuteurs de gérer
                        les dépenses d’éducation en quelques clics, ce qui permet d’économiser du temps et
                        des efforts. Joignez-vous à nous pour découvrir une nouvelle ère de commodité dans 
                        la gestion des études de votre enfant, un paiement à la fois.
                    </p>
                </div>
            </div>
        </div>
    </section>