.section2{
    background-color: rgba(8, 8, 15, 0.884);
    height: auto;
}
.section2{
    background-color: rgba(8, 8, 15, 0.884);
    height: 80vh;
    display: flex;
    align-items: center;
}
.section2 .divContainer{
    display: flex;
    align-items: center;
    height: 60vh;
    background-image: url(../../assets/images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 .divContainer .div2{
    
    background-color: black;
    color: #fff;
}