
<section class="section1 p-ld-5 p-md-3" id="aPropos" style="background-color: rgb(255, 15, 15);">
  <div class="div_container d-lg-flex p-lg-1 p-md-1">
    <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5" style="height: 400px">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    
    <!-- Indicateurs -->
    <div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
</div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/papa_resized_matched.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/docteur_resized_1536x1024.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/MamanV.png" class="d-block w-100" alt="...">
      </div>
       <div class="carousel-item">
        <img src="../../assets/images/guerre.png" class="d-block w-100" alt="...">
      </div>
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

    <div class="p-2 col-lg-6 col-md-6 col-12" style="height: 500px;">
      <h2 class="my-5" style="color: rgb(255, 255, 255);"> Pourquoi adopter des moyens de paiement électroniques dans votre école ?</h2>
      <p class="epay-description" style="color: rgb(255, 255, 255);">
Les consommateurs utilisent de plus en plus les moyens de paiement électroniques pour régler leurs achats et leurs factures.
Si les moyens de paiement électroniques offrent de nombreux avantages pour les consommateurs, c’est également le cas pour les commerçants et les fournisseurs de services. Quels sont ces avantages pour votre école en adoptant ce moyen de paiement ?
      </p>
      <h1 style="color: rgb(255, 255, 255);"> Facilité des transactions</h1>
      <p class="epay-description" style="color: rgb(255, 255, 255);">Les paiements électroniques sont simples à utiliser mais aussi plus rapides. Les parents de vos élèves seront à même de payer les frais de scolarité de leurs enfants sans se déplacer et à n’importe quel moment et 24h/24h sans limite. </p>
    </div>
  </div>
</section>


<section class="section1" id="aPropos" style="background-color: rgb(255, 15, 15);">
  <div class="div_container d-lg-flex p-ld-5 p-md-3">
    
    <!-- Texte -->
    <div class="p-2 col-lg-6 col-md-6 col-12" style="height: 500px;">
      <h1 class="my-5" style="color: rgb(255, 255, 255);">Davantage de sécurité</h1>
      <p class="epay-description" style="color: rgb(255, 255, 255);">
        Grâce aux paiements électroniques, les risques de vol dans la caisse de l’école diminuent. En effet, les sommes payées n’étant pas physiquement présentes dans la caisse de l’école, il y a moins d’argent dans les caisses et la tentation de commettre des délits est réduite.<br><br>
        Avec les paiements électroniques, la circulation des faux billets est également ralentie et il y a donc moins de risque d’être confronté à ce type d’escroquerie.<br><br>
        Grâce à sa puissance et son efficacité, E-SCHOOL a franchi un nouveau pas avec sa nouvelle fonctionnalité de paiement des frais scolaires par Airtel Money et MTN Mobile Money.
      </p>
    </div>

    <!-- Carrousel -->
    <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5" style="height: 400px">
      <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">

        <!-- Indicateurs -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Images -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/cadena.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/caisse.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/nn.png" class="d-block w-100" alt="...">
          </div>
        </div>

        <!-- Contrôles -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>

  </div>
</section>
