<section class="section1 p-ld-5 p-md-5" id="aPropos" style="background-color: rgb(255, 15, 15);">
  <div class="div_container d-lg-flex p-lg-5 p-md-5">
    <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5" style="height: 400px">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    
    <!-- Indicateurs -->
    <div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
</div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/papa_resized_matched.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/docteur_resized_1536x1024.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/MamanV.png" class="d-block w-100" alt="...">
      </div>
       <div class="carousel-item">
        <img src="../../assets/images/guerre.png" class="d-block w-100" alt="...">
      </div>
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

    <div class="p-2 col-lg-6 col-md-6 col-12" style="height: 500px;">
      <h1 class="my-5" style="color: rgb(255, 255, 255);"> Payez partout, sans vous déplacer</h1>
      <p class="epay-description" style="color: rgb(255, 255, 255);">
       Pourquoi perdre du temps à vous déplacer jusqu’à l’école pour payer les frais de scolarité ? Avec ePay, vous pouvez désormais régler vos paiements partout au Congo, sans bouger de chez vous.

Que vous soyez à Brazzaville, Pointe-Noire, Dolisie ou dans n’importe quelle localité, ePay vous offre une solution simple, rapide et 100% sécurisée. Depuis votre téléphone, vous payez en quelques clics, et vous recevez immédiatement une confirmation.

Plus besoin de faire la queue à l’école, de courir à la dernière minute ou de perdre une journée de travail. Avec ePay, l’école vient à vous.

 Adoptez le paiement intelligent. Gagnez du temps. Évitez les déplacements.
ePay – Le paiement scolaire sans stress, partout au Congo.
      </p>
    </div>
  </div>
</section>