<footer class="d-flex flex-column-reverse flex-md-row align-items-center py-5">
  <div>
    <h1 class="text-center">e-school</h1>
    <p>Copyright © 2025 Tous droits réservés</p>
    <p>Propulsé par SITE123 - Créez un site web</p>
  </div>
  
  <div class="nav mb-3 mb-md-0">
    <ul class="d-flex flex-md-row list-unstyled m-0 p-0">
      <li class="mx-1"><a href="#accueil">Accueil</a></li>
      <li class="mx-1"><a href="#service">Service</a></li>
      <li class="mx-1"><a href="#contact">Contact</a></li>
      <li class="mx-1"><a href="#aPropos">A Propos</a></li>
    </ul>
  </div>
</footer>
