.section4{
    background-color: rgba(8, 8, 15, 0.884);
    height: auto;
}
.section4 .container{
    height: auto;
}
.contain.section4 .container div h1, .section5 .contacte h1{
    text-align: center;
    color: #fff;  
}
.section4 .container .mt-5 .hov :hover{
    transition: 0.5s;
    margin-top: 15px;
}